
.AdminBg{
  background-image: url("../images/liberian2.jpg");
  font-weight: bolder;
  font: 30px arial, sans-serif;
  color: white;

}

.bguserprof{
  
  


}
.bgimg{
  background-image: url("../images/bookshelfwallpaper.jpg");
  color: white;
  font-weight: bolder;
  font: 20px arial, sans-serif;

}

.biggercard{
width: 500px;
height: 800px;
border-width: 1px;
border-color: rgb(15, 15, 15);
margin-top: 20px;
}

.carousel-img {
  width: 100%;
  height: auto;
}
.center-align{
  text-align: center;
  
}
.center{
  margin-right: 50px;
  margin-top: 70px;
  border-style: solid;
  padding-left: 150px;
  padding-top: 10px;
  border-color: rgb(248, 244, 245);
  border-width: 1px;
  
  
}
.footer1{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #000000;
  color: #000F16;
  padding: 10px 10px 0px 30px;
}

.footer{
    position: relative;
    bottom: 0px;
    width: 120%;
    background-color: #000000;
    color: #000F16;
    margin: 30px 10px 0px 0px;
  }

  .fntcol{
    color: black;
  }
.home-wrapper{
  background-image: url("../images/Book3.jpg");
  height: 600px;
  color: white;
  font-weight: bolder;
  text-align: center;
  font: 15px arial, sans-serif;
}
.bold{
  font: 40px arial, sans-serif;
  color: #4B0082;
}
.display-3{
  font: 40px arial, sans-serif;
  color: rgb(11, 1, 19);
}
.custborder{
 border-style: solid;
 border-width: 2px;
 border-top: 30px;
}
 .booksholder{
   margin-bottom: 500px
 }