<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/hello.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="index.html"><img src="images\HelloLogo.JPG"></a>
                </li>
            </ul>
            <ul>
                <div class="btn-group">
                    <button type="button" class="btn btn-success"><a href= userSignUp.html>SIGN UP</a></button> &nbsp &nbsp
                    <button type="button" class="btn btn-success"><a href= userLogin.html> LOGIN</a></button>
                    
                </div>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid home-wrapper">
        <div class="container">
            <h1 class="display-3">Welcome To The World Class BooksLibrary</h1>
            <p class="lead"><i class="bold">where Future Leaders Gets Inspiration From</i></p>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form>
                    <div class= "input-group">
                        <span class= "input-group-addon">
                            <i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Enter search input" aria-label="">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section>
        <div>
            <h3 class="center-align"><strong> AVAILABLE BOOKS </strong>  </h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <img class="img-fluid" src="images/HistoryBooks - small.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h3 class="card-title">The world history book</h3>
                           
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                            
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                                <a href="book details\history.html" > View Details </a>   
                            </button>
                                 
                </div>
            </div>
        </div>
                            
        <div class="col-sm-3">
                <div class="card">
                    <img class="img-fluid" src="images/beauty&the beast1 - small.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h3 class="card-title">Beauty & the beast</h3>
                        
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                                <a href="book details\beauty and the beast.html" > View Details </a>   
                        </button>
                             
            </div>
        </div>
    </div>
    <div class="col-sm-3">
            <div class="card">
                <img class="img-fluid" src="images/A secret lovesmall.jpg" alt="Card image cap">
                <div class="card-block">
                    <h3 class="card-title">A secret love</h3>
                    
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                            <a href="C:\Users\Sophie\Desktop\Hello-Books\templates\book details\a secret love.html" > View Details </a>  
                    </button>
                         
        </div>
    </div>
</div>
<div class="col-sm-3">
        <div class="card">
            <img class="img-fluid" src="images/book of secretes - small.jpg" alt="Card image cap">
            <div class="card-block">
                <h3 class="card-title">The book of secret </h3>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 15 mins ago</small>
                
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                        <a href="C:\Users\Sophie\Desktop\Hello-Books\templates\book details\The book of secrets.html" > View Details </a>  
                </button>
                     
             </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
            <div class="col-sm-3">
                    <div class="card">
                        <img class="img-fluid" src="images/cookingbooks.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h3 class="card-title">More Recipes book</h3>
                           
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 8 mins ago</small>
                            
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    View Details
                            </button>
                                 
                </div>
            </div>
        </div>
        <div class="col-sm-3">
                <div class="card">
                    <img class="img-fluid" src="images/daniel steel - small.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h3 class="card-title">Undercover</h3>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 30 mins ago</small>
                       
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                View Details
                        </button>
                             
            </div>
        </div>
    </div>
            <div class="col-sm-3">
                    <div class="card">
                        <img class="img-fluid" src="images/harrypotter - small.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h3 class="card-title">harrypotter</h3>
                            
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    View Details
                            </button>
                                 
                </div>
            </div>
        </div>
        <div class="col-sm-3">
                <div class="card">
                    <img class="img-fluid" src="images/high school musicals - small.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h3 class="card-title">High School Musicals</h3>
                        
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                View Details
                        </button>
                             
            </div>
        </div>
    </div>
</div>

    <br>
    <br>
    <div class="row">
            <div class="col-sm-3">
                    <div class="card">
                        <img class="img-fluid" src="images/jumanji - small.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h3 class="card-title">Jumanji </h3>
                           
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                            
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    View Details
                            </button>
                                 
                </div>
            </div>
        </div>
        <div class="col-sm-3">
                <div class="card">
                    <img class="img-fluid" src="images/lionking1 - small.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h3 class="card-title">Lion King</h3>
                        
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                View Details
                        </button>
                             
            </div>
        </div>
    </div>
            <div class="col-sm-3">
                    <div class="card">
                        <img class="img-fluid" src="images/lionking2 - small.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h3 class="card-title">King of the Lions</h3>
                            
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                            
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    View Details
                            </button>
                                 
                </div>
            </div>
        </div>
        <div class="col-sm-3">
                <div class="card">
                    <img class="img-fluid" src="images/maryhiggins clark1 - small.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h3 class="card-title">The shadow of your smile</h3>
                      
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                View Details
                        </button>
                             
            </div>
        </div>
        </div>
    </div>
        <br>
        <br>
        <div class="row">
                <div class="col-sm-3">
                        <div class="card">
                            <img class="img-fluid" src="images/maryhiggins clark2 - small.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h3 class="card-title">All Around the Town</h3>
                                
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                                
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        View Details
                                </button>
                                     
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                    <div class="card">
                        <img class="img-fluid" src="images/ProgrammingBooks - small.png" alt="Card image cap">
                        <div class="card-block">
                            <h3 class="card-title">Javascript/Node js/ Sequelize</h3>
                            
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                           
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    View Details
                            </button>
                                 
                </div>
            </div>
        </div>
                <div class="col-sm-3">
                        <div class="card">
                            <img class="img-fluid" src="images/romeo & juliet - small.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h3 class="card-title">Romeo and Juliet</h3>
                               
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                                
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        View Details
                                </button>
                                     
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                    <div class="card">
                        <img class="img-fluid" src="images/surviving high school - small.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h3 class="card-title">surviving high school</h3>
                            
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                            
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    View Details
                            </button>
                                 
                </div>
            </div>
            
    </div>
</div>
<br>
<hr>
   <div>
        <h3 class="center-align"><strong> POPULAR BOOKS(MOST FAVORITED) </strong>  </h3>
    </div>
    <br>
    <br>
    <div class="row">
            <div class="col-sm-3">
                    <div class="card">
                        <img class="img-fluid" src="images/maryhiggins clark2 - small.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h3 class="card-title">All Around the Town</h3>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                            <p>
                                    <a class="btn-floating">
                                        <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
                                        <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>28</strong>
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i><strong>15</strong>
                                    </a>
                                </p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    View Details
                            </button>
                                 
                </div>
            </div>
        </div>
        <div class="col-sm-3">
                <div class="card">
                    <img class="img-fluid" src="images/ProgrammingBooks - small.png" alt="Card image cap">
                    <div class="card-block">
                        <h3 class="card-title">Javascript/Node js/ Sequelize</h3>
                       
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        <p>
                                <a class="btn-floating">
                                    <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
                                    <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>28</strong>
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i><strong>15</strong>
                                </a>
                            </p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                View Details
                        </button>
                             
            </div>
        </div>
    </div>
    <div class="col-sm-3">
            <div class="card">
                <img class="img-fluid" src="images/high school musicals - small.jpg" alt="Card image cap">
                <div class="card-block">
                    <h3 class="card-title">High school musicals</h3>
                   
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    <p>
                            <a class="btn-floating">
                                <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
                                <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>28</strong>
                                <i class="fa fa-commenting-o" aria-hidden="true"></i><strong>15</strong>
                            </a>
                        </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            View Details
                    </button>
                         
        </div>
    </div>
</div>
<div class="col-sm-3">
        <div class="card">
            <img class="img-fluid" src="images/lionking2 - small.jpg" alt="Card image cap">
            <div class="card-block">
                <h3 class="card-title">The king of the lions</h3>
               
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                <p>
                        <a class="btn-floating">
                            <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
                            <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>28</strong>
                            <i class="fa fa-commenting-o" aria-hidden="true"></i><strong>15</strong>
                        </a>
                    </p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        View Details
                </button>
                     
    </div>
</div>
</div>
    
    </section>

<br>
<br>
  
        
    <footer class="bg-color footer">
        <div class="container">
            <div class="row">
                <div class="col text-center text-white">
                    <p>Designed by: Sophie &nbsp;&nbsp;&nbsp; © 2017</p>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src=""></script>

</body>
</html>