<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/hello.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bguserprof">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="index.html"><img src="images\HelloLogo.JPG"></a>
      </li>
      </ul>
        
    </div>
</nav>
<div class="container">
  <h1>Edit Profile</h1>
  <hr>
<div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="images/userimage.jpg" class="img-rounded" alt="avatar">
        <h6>Upload a different photo...</h6>
        
        <input type="file" class="form-control">
      </div>
    </div>
    
    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      
      <h1>Personal info</h1>
      
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="" placeholder="Sophia">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="" placeholder="Ebokam">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="" placeholder="ebokamsomto@yahoo.com">
          </div>
        </div>  
        <br>
        <br>
        <hr>
        
        <section>
            <div class="container-fluid">
                <h3 class="center-align"><strong> BORROWED BOOKS </strong>  </h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <img class="img-fluid" src="images/beauty&the beast1 - small.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h3 class="card-title">Beauty & the beast</h3>
                                
                            </div>
                            <div class="card-footer">
                                
                                
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        Return
                                </button>
                                     
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="img-fluid" src="images/A secret lovesmall.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h3 class="card-title">A secret love</h3>
                        
                    </div>
                    <div class="card-footer">
                       
                        
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Return
                        </button>
                             
            </div>
        </div>
    </div>
    
            <div class="col-sm-3">
                <div class="card">
                    <img class="img-fluid" src="images/lionking2 - small.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h3 class="card-title">King of the lions</h3>
                        
                    </div>
                    <div class="card-footer">
                       
                        
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Return
                        </button>
                             
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
       <div>
          <br>
          <br>
          <h3 class="center-align"><strong> FAVORITE BOOKS </strong>  </h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <img class="img-fluid" src="images/maryhiggins clark2 - small.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h3 class="card-title">All around Town </h3>
                            
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                            
                            
                                 
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="img-fluid" src="images/beauty&the beast1 - small.jpg" alt="Card image cap">
                <div class="card-block">
                    <h3 class="card-title">Beauty & the beast</h3>
                    
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    
                    
                         
        </div>
    </div>
</div>

        <div class="col-sm-3">
            <div class="card">
                <img class="img-fluid"  src="images/high school musicals - small.jpg" alt="Card image cap">
                <div class="card-block">
                    <h3 class="card-title">High School</h3>
                    
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    
                   
                         
        </div>
    </div>
</div>
</div>
</div>
</div>
<br>
<br>
<hr>
   <div>
                                
</div>
</div>
</div>
</div>
</div>
        </section>
<br>
<br>
<br>
    <footer class="bg-color footer">
      <div class="container">
          <div class="row">
            <div class="col text-center text-white">
                <p>Designed by: Sophie &nbsp;&nbsp;&nbsp; © 2017</p>
              </div>
            </div>
          </div>
      </footer>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/designs.js"></script>

    
</body>
</html>
